---
---

<section class="marquee" style="padding:40px 0">
  <div class="marquee-label">Hecho para grupos de</div>
  <div class="marquee-track">
    <span>Ligas de <em>fútbol amateur</em></span>
    <span>Papás de <em>colegio</em></span>
    <span>Running <em>clubs</em></span>
    <span>Comunidades de <em>vecinos</em></span>
    <span>Equipos de <em>trabajo</em></span>
    <span>Grupos de <em>amigos</em></span>
    <span>Iglesias y <em>ministerios</em></span>
    <span>Asociaciones <em>culturales</em></span>
    <span>Ligas de <em>fútbol amateur</em></span>
    <span>Papás de <em>colegio</em></span>
    <span>Running <em>clubs</em></span>
    <span>Comunidades de <em>vecinos</em></span>
    <span>Equipos de <em>trabajo</em></span>
    <span>Grupos de <em>amigos</em></span>
  </div>
</section>
